<div class="container mt-4">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="custName" class="form-label">Customer Name</label>
          <input type="text" class="form-control" aria-describedby="custNameFeedback" id="custName" name="custName" [(ngModel)]="custName" required>
        </div>
        <div class="mb-3">
          <label for="custName" class="form-label">Customer Address</label>
          <textarea type="text" class="form-control" id="custName" name="address" [(ngModel)]="address"></textarea>
        </div>
        <div class="mb-3">
          <label for="custName" class="form-label">Customer PhoneNo</label>
          <input type="text" class="form-control" id="custName" name="phoneNo" [(ngModel)]="phoneNo">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="jenisKelamin" [(ngModel)]="jenisKelamin" id="laki" value="Laki-Laki">
          <label class="form-check-label" for="laki">Laki Laki</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="jenisKelamin" [(ngModel)]="jenisKelamin" id="perempuan" value="Perempuan">
          <label class="form-check-label" for="perempuan">Perempuan</label>
        </div>
        <select class="form-select" aria-label="Default select example" name="license" [(ngModel)]="license">
          <option value="Free" selected>Free</option>
          <option value="Premium">Premium</option>
        </select>
        <div class="form-check" *ngFor="let lang of languageList">
          <input type="checkbox" id="{{ lang }}" class="form-check-input" name="{{ lang }}" [value]="lang" (change)="onLanguageCheck($event)" />
          <label class="form-check-label" for="{{ lang }}">
            {{ lang }}
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
